azure-core==1.30.1
azure-identity==1.16.0
azure-storage-blob==12.20.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
cryptography==41.0.2
einops==0.6.1
esprima==4.0.1
fastapi==0.110.1
fastjsonschema==2.19.1
GitPython==3.1.32
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
Jinja2==3.1.2
joblib==1.3.1
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-text-splitters==0.0.1
langchainhub==0.1.14
langsmith==0.1.31
oauthlib==3.2.2
openai==1.30.5
openapi-schema-pydantic==1.2.4
Pillow==9.5.0
pipreqs==0.5.0
pipwin==0.5.2
protobuf==4.23.4
pydantic==2.6.4
pydantic-extra-types==2.6.0
pydantic-settings==2.2.1
pydantic_core==2.16.3
python-dateutil==2.8.2
python-dotenv==1.0.0
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
redis==5.0.7
sentence-transformers==2.2.2
SQLAlchemy==2.0.18
tiktoken==0.4.0
transformers @ git+https://github.com/huggingface/transformers.git@831bc25d8fdb85768402f772cf65cc3d7872b211
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
