@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: grid;
  grid-template-rows: 1fr auto; /* Two rows: content and ChatInput */
  width: calc(60% - 10px); /* Subtract double the border width */
  height: calc(80vh - 10px); /* Subtract double the border width */
  max-width: 900px;
  margin: auto;
  border-radius: 10px;
  background-color: black;
  box-shadow: 0 5px 5px 0 black;
  position: relative;
}

.chat-input-container {
  grid-row: 2; /* Position the chat input at the bottom row */
  display: flex;
  align-items: center;
  padding: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-custom {
  @apply overflow-y-auto;

  /*Custom Scrollbar styling */
  &::-webkit-scrollbar {
    width: 8px; /* Width of the entire scrollbar */
    height: 8px; /* Height of the entire scrollbar */
  }

  &::-webkit-scrollbar-thumb{
    background-color: #888; /* Color of the scrollbar handle */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #1e1e1e; /* Padding around the handle */
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color when hovering over the scrollbar handle */
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

/* Transition styles */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-500 {
  transition-duration: 500ms;
}

.transform {
  transform: translateY(0);
}

.-translate-y-1 {
  transform: translateY(-25%);
}